<%- include('/header'); -%>
<form action="<%= links.connect %>" onsubmit="return post()" id="form">
    <p>
        Enter github url: <input name="github" type="url" size="60">
    </p>
</form>
<script>
  function post() {
    // https://github.com/adobe/business-website
    const url = new URL(document.forms[0].github.value);
    const [, owner, repo] = url.pathname.split('/');
    window.location.href = `${document.forms[0].action}/${owner}/${repo}/`;
    return false;
  }
</script>
<%- include('/footer'); -%>


